.footer{
    background-color: #508AB9;
    height: 100px;
    display:grid;
    grid-template-columns: 1fr 6fr 1fr;
}
.footer__content{
    grid-column: 2;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
a{
    display:flex;
    align-items: center;
    margin-top: 5px;
}
a > p{
    padding:5px;
}