.scanner{
    background-color: rgba(245, 245, 245, 0.699);
    width: 50vw;
    min-height: 60vh;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 16px 10px rgb(0 0 0 / 10%);
    display:grid;
}
.results{
    /* background-color: red; */
    grid-row: 2;
    border-radius: 2px;
    border: 1px dashed black;
    width: 95%;
    margin: 0 auto;
    /* min-height: 40vh; */ 
}