.App {
  text-align: center;
}
.landing{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: #0066AD;
  margin-bottom: -20px;
}
.content{
  margin-top: 0 auto;
  background-color: #E5F8F5;
  padding-bottom: 100px;
  /* display:grid; */
  /* grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
}
.scrollDown{
  animation: MoveUpDown 2s linear infinite;
  
  position: absolute;
  margin: -3.8vh auto auto auto;
  font-size: 7vmin !important;
  left:0;
  right:0;
  font-size: 100px;
}
@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
}
